<div
  class="board-outer"
  [class.labels-off]="store.fullScreenBoard()"
>

  @if (!store.fullScreenBoard()) {
  <div class="col-labels">
    <div class="corner"></div>
    @for (c of cols; track $index) {
    <div class="col-label">{{ c+1 }}</div>
    }
  </div>
  }

  <div class="row">
    @if (!store.fullScreenBoard()) {
    <div class="row-labels">
      @for (r of rows; track $index) {
      <div class="row-label">{{ rowLetter(r) }}</div>
      }
    </div>
    }

    <div
      class="board"
      role="grid"
      tabindex="0"
      (click)="focusBoard()"
    >
      @for (r of rows; track $index) {
      <div
        class="row"
        role="row"
      >
        @for (c of cols; track $index) {
        <button
          class="cell"
          role="gridcell"
          [disabled]="isGiven(r,c) && !store.editingGivenMode()"
          [ngClass]="cellClasses(r,c)"
          (click)="onCellClick(r,c)"
          (mouseenter)="onHover(r,c,true)"
          (mouseleave)="onHover(r,c,false)"
          [attr.aria-selected]="isSelected(r,c)"
          [attr.aria-label]="ariaLabel(r,c)"
        >

          @if (hasValue(r,c)) {
          <span class="val">{{ cellValue(r,c) }}</span>
          } @else {
          <div class="pencil">
            @for (d of digits; track $index) {
            <span
              class="p"
              [class.on]="hasCand(r,c,d)"
              [class.cand-match]="candMatchesActive(r,c,d)"
              [class.cand-hint]="candInHint(r,c,d)"
            >{{ d }}</span>
            }
          </div>
          }
        </button>
        }
      </div>
      }
    </div>
  </div>
</div>